<div class="my-3 p-3 bg-white rounded shadow-sm">   
    <div class="card-header">
        <h4 class="card-title">Add New Student</h4>
        <input type="text" class="form-control" #studentName>
        <button class="btn btn-success mt-2 rounded" (click)="add(studentName.value); studentName.value=''">
            Add
        </button>
        <button class="btn btn-dark rounded mt-2 ml-2" (click)="goback()">Back</button>
    </div>
    <h4 class="border-bottom border-gray mt-2 pb-2 mb-0">Students List</h4>
    <div class="media text-muted pt-3" *ngFor="let student of students" [class.selected]="student === selectedStudent">
        <a routerLink="/detail/{{ student.id}}">
            <div class="media-body border-bottom border-gray">
                <span class="d-block">@Id:- {{ student.id }}</span>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Student Name:-</label>
                        <!-- <input type="text" class="form-control mx-sm-3" [(ngModel)]="student.name"> -->
                        <span><strong> {{ student.name }}</strong></span>
                    </div>
                </div>
            </div>
        </a>
        <button class="btn btn-danger delete" (click)="delete(student)">
            Delete
        </button>
    </div>
</div>

<!-- <app-student-details [student]="selectedStudent"></app-student-details> -->
<!-- <div class="media text-muted pt-3"
         *ngFor="let student of students"
         [class.selected]="student === selectedStudent" 
         (click)="onSelectStudent(student)"> -->